
/***************** RESPONDSIVE *****************/

/******** TABLET ********/

/******** MOBILE ********/
@media (max-width: 800px)
  span#to_top
    background-image: none
    width: 0px
    height: 0px
  footer
    display: none
  h3
    font-size: 4em
  .head-normal
    display: none
  .head-res
    display: block
  .up-bar
    height: 50px
  .top-bar
    height: 58px
  .l-top-bar
    width: 100%
    left: 0px
    #logo
      width: 66px
      display: block
      margin: 0 auto
  #res-menu
    display: block
    cursor: hand
    i
      color: $yellow
      padding-right: 10px
      padding-top: 5px
  .menu
    position: inherit
    top: 0px
    left: 0px
    padding: 20px 0px
    border-right: 1px solid $yellow
    border-left: 1px solid $yellow
    li.li-active
      width: auto
      float: none
      margin-bottom: 5px
      a
        float: none
    li.li-normal
      width: auto
      float: none
      margin-bottom: 5px
      background: $lBlack
      a
        float: none
        margin-right: 20px
        text-align: right
      &:hover
        a
          margin-right: 20px
          transform: none
  [canvas-container]
    overflow-y: scroll
    overflow-x: hidden
  .bar-1
    width: 100%
    height: auto
  .bar-item
    width: 100%
    float: none
  #blt_1, #blt_3
    float: none
  .content
    width: 100%
  .bar
    height: auto
    .block-text
      width: auto
      line-height: 2em
      padding: 20px
      h1
        font-size: 2em
      p
        font-size: 20px
  .space_3
    height: auto
    img
      width: 100%
  .contact
    form
      width: auto
      margin: 0px
      padding: 12px
  .block-foot
    width: 100%
    position: relative
    display: block
    .column-foot
      img
        width: 100%
      table

        td
          padding: 2px 12px
          i
            color: $yellow
