.full-screen
    ul.bar-1
        li.bar-item
            .box
                span.img-box
                p BOX 1
                .clr
        li.bar-item
            .box
                span.img-box
                p BOX 2
                .clr
        li.bar-item
            .box
                span.img-box
                p BOX 3
                .clr
.space.space_1
.full-screen
    ul.bar-1
        li.bar-item
            .box
                span.img-box
                p BOX 1
                .clr
        li.bar-item
            .box
                span.img-box
                p BOX 2
                .clr
        li.bar-item
            .box
                span.img-box
                p BOX 3
                .clr
