//
   Created by NhanTK on 04-Jul-15.

.full-screen.white-bg#service_
    img(src="images/BeeService.png").beeimg
    h3 SERVICE
    span.arrDown
.bar-2
    .content
        .block-text.right#blt_1
            h1 TITLE TOP
            p
                |To alter a bounding box size,
                |insert the type I-beam cursor in the text so its blinking,
                |then hover your cursor over an edge of the bounding box.
                |The cursor will change to an arrow indicator letting you know you
                |can click-drag to resize the bounding box.
.bar-3
    .content
        .block-text#blt_2
            h1 TITLE TOP
            p
                |To alter a bounding box size,
                |insert the type I-beam cursor in the text so its blinking,
                |then hover your cursor over an edge of the bounding box.
                |The cursor will change to an arrow indicator letting you know you
                |can click-drag to resize the bounding box.
.bar-4
    .content
        .block-text.right#blt_3
            h1 TITLE TOP
            p
                |To alter a bounding box size,
                |insert the type I-beam cursor in the text so its blinking,
                |then hover your cursor over an edge of the bounding box.
                |The cursor will change to an arrow indicator letting you know you
                |can click-drag to resize the bounding box.
.space_2