.full-screen.white-bg#feature_
    img(src="images/BeeFeature.png").beeimg
    h3 FEATURE
    span.arrDown
ul.bar-1
    li.bar-item#b_1
        .box
            span.img-box
            p BOX 1
            .clr
    li.bar-item#b_2
        .box
            span.img-box
            p BOX 2
            .clr
    li.bar-item#b_3
        .box
            span.img-box
            p BOX 3
            .clr
    li.clr
.space_1

