


//HEADER Normal
.head-normal
    header
        .top-bar
            .content
                .up-bar
<<<<<<< HEAD
                    //Left side
                    //.left-side
                    //    p
                    //        i.fa.fa-phone
                    //        | 0932 533 670
                    //        i.fa.fa-envelope-o
                    //        | beefun-team@gmail.com
                    ////Right side
=======

                    //Right side
>>>>>>> a8d42653ee3aa38c90d979ef6bc6a608b63c485c
                    span#img-up-bar.right
                    //a(href='#')
                    //    span#z-icon.right-icon
                    //a(href='#')
                    //    span#f-icon.right-icon
                    //a(href='#')
                    //    span#t-icon.right-icon
                    //a(href='#')
                    //    span#g-icon.right-icon
                    //p.right Follow us:
                    .clr
                .l-top-bar.left
                    img(src='images/top-logo.png', alt='Top logo')#logo
                .r-top-bar.left
                    nav#horizonal-menu
                        span.menu-first
                        ul.menu.left
                            li.li-normal
                                span.spread
                                a(href='#' onmousedown="autoScrollTo('feature_');")#feature Feature
                                .clr
                            li.li-normal
                                span.spread
                                a(href='#' onmousedown="autoScrollTo('service_');")#service Service
                                .clr
                            li.li-normal
                                span.spread
                                a(href='#' onmousedown="autoScrollTo('aboutus_');")#aboutus About us
                                .clr
                            li.li-normal
                                span.spread
                                a(href='#' onmousedown="autoScrollTo('contact_');")#contact Contact
                                .clr
                .clr
//END HEADER Normal

//HEADER Respondsive
.head-res
    header
        .top-bar
            .up-bar
            .l-top-bar
                img(src='images/top-logo.png', alt='Top logo')#logo
