


//HEADER Normal
.head-normal
    header
        .top-bar
            .content
                .up-bar
                    span#img-up-bar.right
                    .clr
                .l-top-bar.left
                    img(src='images/top-logo.png', alt='Top logo')#logo
                .r-top-bar.left
                    nav#horizonal-menu
                        ul.menu.left
                            li.li-normal
                                span.spread
                                a(href='#' onmousedown="autoScrollTo('feature_');")#feature Feature
                                .clr
                            li.li-normal
                                span.spread
                                a(href='#' onmousedown="autoScrollTo('service_');")#service Service
                                .clr
                            li.li-normal
                                span.spread
                                a(href='#' onmousedown="autoScrollTo('aboutus_');")#aboutus About us
                                .clr
                            li.li-normal
                                span.spread
                                a(href='#' onmousedown="autoScrollTo('contact_');")#contact Contact
                                .clr
                .clr
//END HEADER Normal

//HEADER Respondsive
.head-res
    header
        .top-bar
            .up-bar
            .l-top-bar
                img(src='images/NewLogo.png', alt='Top logo')#logo
