


//HEADER Normal
.head-normal
    header
        .top-bar
            .content
                .up-bar
                    //Left side
                    .left-side
                        p
                            i.fa.fa-phone
                            | 0932 533 670
                            i.fa.fa-envelope-o
                            | beefun-team@gmail.com
                    //Right side
                    span#img-up-bar.right
                    a(href='#')
                        span#f-icon.right-icon
                    a(href='#')
                        span#g-icon.right-icon
                    a(href='#')
                        span#t-icon.right-icon
                    a(href='#')
                        span#z-icon.right-icon
                    a(href='#')
                        span#s-icon.right-icon
                    input(type='text', id='txt-search', placeholder='Type some text...').right.search
                    .clr
                .l-top-bar.left
                    img(src='images/top-logo.png', alt='Top logo')#logo
                .r-top-bar.left
                    nav
                        span.menu-first
                        ul.menu.left
                            li.li-active
                                span.spread
                                a(href='#' onmousedown="autoScrollTo('home_');")#home Home
                                .clr
                            li.li-normal
                                span.spread
                                a(href='#' onmousedown="autoScrollTo('feature_');")#feature Feature
                                .clr
                            li.li-normal
                                span.spread
                                a(href='#' onmousedown="autoScrollTo('service_');")#service Service
                                .clr
                            li.li-normal
                                span.spread
                                a(href='#' onmousedown="autoScrollTo('aboutus_');")#aboutus About us
                                .clr
                            li.li-normal
                                span.spread
                                a(href='#' onmousedown="autoScrollTo('contact_');")#contact Contact
                                .clr
                .clr
//END HEADER Normal

//HEADER Respondsive
.head-res
    header
        .top-bar
            .up-bar
            .l-top-bar
                img(src='images/top-logo.png', alt='Top logo')#logo
