head
    title BeeFun
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;')

    link(rel="icon", href="images/favicon.ico", type="image/x-icon")
    //CSS
    link(rel='stylesheet', href='css/reset.css')
    // Main css
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='css/slidebars.css')
    link(rel='stylesheet', href='css/font-awesome.css')
    link(rel='stylesheet', href='css/font-awesome.min.css')

    //SCRIPTS
    script(src='js/jquery-2.1.4.js')
    script(src='js/jquery-2.1.4.min.js')
    script(src='js/header.js')
    script(src='js/slidebars.js')
    script(src='js/main.js')