//
   Created by khoinh on 7/2/2015.
#res-menu
    i.fa.fa-bars.fa-2x
//Loading
.content-loading
    #loader
        .circle
        .dot
        .circle1
        h2#loading-text Loading
    ul.tab
        li#1.tab1
            span.yellow-b
        li#2.tab2
            span.yellow-b
        li#3.tab3
            span.yellow-b
        li#4.tab4
            span.yellow-b
    .clr
    .bottom
        #icon-enter
            img(src='images/left-wellcome.png').left
            input(type='button', name='agreement',value='Enter',)#enter.left
            img(src='images/right-wellcome.png').right
            .clr
//End Loading
