//
   Created by khoinh on 7/2/2015.
.right-menu(off-canvas="sb-1 right reveal")
    .menu-content
        ul.menu
            li.li-normal
                a(href='#', onmousedown="toTop();") Home
            li.li-normal
                a(href='#feature_') Feature
            li.li-normal
                a(href='#service_') Service
            li.li-normal
                a(href='#aboutus_') About us
            li.li-normal
                a(href='#contact_') Contact
    .bottom-icon
        a(href='#')
            span#f-icon.right-icon
        a(href='#')
            span#g-icon.right-icon
        a(href='#')
            span#t-icon.right-icon
        a(href='#')
            span#z-icon.right-icon
        .clr
    .block-foot
        .column-foot
            table
                tr
                    td(width="10%")
                        i.fa.fa-phone
                    td
                        p 0932 533 670
                tr
                    td(width="10%")
                        i.fa.fa-envelope-o
                    td
                        p beefun-team@gmail.com
                tr
                    td(width="10%")
                        i.fa.fa-map-marker
                    td
                        p ... Distric - Hai Chau Province - Da Nang City
    //END HEADER Respondsive
