//
   Created by khoinh on 7/2/2015.
.right-menu(off-canvas="sb-1 right reveal")
    .menu-content
        ul.menu
            li.li-normal
                a(href='#', onmousedown="autoScrollTo('home_');") Home
            li.li-normal
                a(href='#', onmousedown="autoScrollTo('feature_');") Feature
            li.li-normal
                a(href='#', onmousedown="autoScrollTo('service_');") Service
            li.li-normal
                a(href='#', onmousedown="autoScrollTo('aboutus_');") About us
            li.li-normal
                a(href='#', onmousedown="autoScrollTo('contact_');") Contact
    .bottom-icon
        a(href='#')
            span#f-icon.right-icon
        a(href='#')
            span#g-icon.right-icon
        a(href='#')
            span#t-icon.right-icon
        a(href='#')
            span#z-icon.right-icon
        .clr
    .left-side
        p
            i.fa.fa-phone
            | 0932 533 670
        p
            i.fa.fa-envelope-o
            | beefun-team@gmail.com
    //END HEADER Respondsive
