$yellow: #fcd732
$lBlack: #141414
$cWidth: 1066px

body

  font-family: Tahoma,sans-serif, Arial
  font-size: 14px
a
  text-decoration: none
.clr
  clear: both

.left
  float: left

.right
  float: right

.content
  width: $cWidth
  margin: 0 auto
  position: relative