//CREATE BY N-BEE

doctype html
html
    //HEAD
    include ./includes/head.jade
    body
        //LOADING
        include ./includes/loading.jade
        //CANVAS
        .close-any(canvas="container")
            //HEADER + MENU
            include ./includes/header.jade
            //SLIDE
            include ./includes/slide.jade
            //BAR_1
            include ./includes/bar_1.jade
            //BAR_2
            include ./includes/bar_2.jade
            //ABOUTUS
            include ./includes/about.jade
            //FOOTER
        //MENU RIGHT
        include ./includes/rightmenu.jade